
body {
    font-family: 'Overpass', sans-serif;
    
}
.sesion
{   
    background-color: #0C8218;
    height:60px;
}
.sesion button {
    margin-top: -22px;
    margin-right: 5px ;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    color:#ffffff;
    height: 40px;
    border: none;   
    border-radius: 3px 3px 3px 3px;
    background-color: #64A4BF;    
    
    padding: 5px 30px 5px 30px;
    font-size:19px; 
    position:absolute;
    
    right:2px;
}


.sesion button:hover {
    
    background-color: #64a4bfe2;
    color:#ffffff;
}
.welcome {
   
color:white ;    
margin-left: 4%;

font-weight: 600;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 20px;
}
.banner{
    width:100%;
}



.container-fluid{
    margin-top:60px;
    display: flex;
    justify-content: center;
    align-items: center;        
    }

.question{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
}

#panorama button {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    color:#ffffff;
    padding: 4px 50px 5px 50px;
    height: 37px;
    border: none;   
    border-radius: 3px 3px 3px 3px;
    background-color: #0C8218;  
}
#panorama button:hover {
    background-color: #2B940F;
    color:#ffffff;
}

.cantdatos{
    font-size:14px; 
    color:rgb(119, 119, 119); 
    margin-left:10%; 
    margin-top: 30px;
}

#result{
    display:flex; 
    gap:15px; 
    justify-content:center;
    flex-wrap: wrap;
    padding-left: 0;
    margin-top:30px; 
    height: 30%;
    width: 100%;
    
    }   

.card{
    flex: 0 0 25%;
    text-align: center;
    height: 650px;
    min-width: 400px;
    }

.cardheader{
    color:#65A4BE; 
    background-color:white; 
    font-size: 22px;

}
.cardimg{
    max-height:290px; 
    min-height:100px; 
    height:30%;
    /*min-width:300px;*/ 

}

.cardtext{
    text-align:justify;
    height: 65%;
}

.page{    
    float: right;
    margin-right: 130px;
    margin-top:20px;
    margin-bottom:20px;
    

}
.page button{
    border-color:transparent;
    background-color:transparent;
    

}